.topo {
    border-top: rgb(92, 42, 138);
    background-color: rgb(92, 42, 138);
}

.logo {
    text-align: left;
    margin-left: 15%;
}

.meio {
    text-align: center;
    padding-top: 60px;
}

h2 {
    color: rgb(92, 42, 138);
    padding-top: 20px;
    padding-right: 170px;
} 

input {
    height: 25px;
    width: 300px;
}

img {
    width: 200px;
    height: 60px;
    top: auto;
}

button {
    height: 40px;
    width: 310px;
    background-color: rgb(252, 172, 67);
    color: white;
    border: none;
    border-radius: 5px;
}
