body {
    margin: 0;
}

.cor-roxo {
    color: #5a2d82;
}

.cor-cinza {
    color: #a9a9a9;
}

.decoração {
    text-decoration: none;
}
.topo {
    border-top: rgb(92, 42, 138);
    background-color: #5a2d82;
}

.logo {
    text-align: left;
    margin-left: 15%;
}

.meio {
    text-align: center;
    margin-top: 90px;
}

span.titulo {
    font-size: 20px;
    color: #5a2d82;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 180px;
}

input.geral {
    height: 25px;
    width: 300px;
    margin: 5px 0 15px 0;
    border-radius: 5px;
    background-color: #e8f0fd;
    border: none;
    padding: 10px 0 10px 10px;
}

img.logo-netshoes {
    width: 200px;
    height: 60px;
    top: auto;
}

button.acessar-conta {
    height: 40px;
    width: 310px;
    font-weight: bold;
    background-color: #f66c28;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

.acesso:hover {
    background-color: #9b3b0b;

    transition: 0.5s;

    opacity: 0.7;
}

a.senha {
    margin-right: 165px;
}

h4.central-relacionamento {
    color: #5a2d82;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

.rodape {
    display: flex;
    border-top: 1px solid #e6e6e6;
    margin-top: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-rodape {
    font: 11px;
    margin-left: 50px;
    color: #a9a9a9;
}

button.duvidas {
    width: 150px;
    height: 30px;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    color: white;
    background-color: #5a2d82;
    border: none;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
}

.final {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

ul.lista {
    list-style: none;
    display: flex;
    margin-bottom: 0%;
}

li {
    margin: 10px;
}

.caixa-de-duvida {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.politica-privac {
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 50px;
}

.font {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Página inicial */

.submit-lente {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
    margin-top: 20px;
}

.submit-line {
    position: relative;
    width: 250%;
}

.submit-line input {
    width: 100%;
    height: 30px;
}

.area-pesquisa {
    border-radius: 15px;
    border: none;
    margin-top: 18px;
    margin-left: 50px;
}

.centralizado {
    text-align: center;
}

.parte-inferior-cabecalho {
    font-family: 'Source Sans Pro Regular', sans-serif;
    margin: none;
    display: flex;
}
.cep {
    margin-left: 100px;
    margin-top: 5px;
    border-right: #ccc solid 1px;
    padding-top: 2px;
    padding-right: 100px;
}
ul.lista-inicial {
    padding: 0;
    margin: 0;
}

img.categorias {
    margin-right: 10px;
    margin-bottom: 3px;
}

.cor-branca {
    color: #efe8eb;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.lista-desejos {
    margin-left: 30%;
    margin-top: 30px;
    padding-left: 50px;
}
.entrar {
    margin-top: 30px;
}

.font-head {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: 600;
    color: #ffffff;
}
.carrinho {
    margin-top: 20px;
}
.button-carrinho {
    background-color: #5a2d82;
    border: none;
}
.cinza-escuro {
    color: #333333;
}

.main {
    display: flex;
    flex-direction: column;
}
.img-promo-magalu {
    position: absolute;
}

.img-promo-leve-mais {
    margin-top: 20px;
    text-align: center;
}
ul.lista-promo {
    list-style: none;
    display: flex;
    padding: 0;
}

li.lista-promo {
    margin: 10px;
}

p.titulo-texto {
    font-family: netshoes_displaybold, sans-serif;
    font-weight: 700;
    color: #5a2d82;
    text-align: center;
    margin-top: 30px;
}
div.categorias {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.categoria-de-compras {
    list-style: none;
    text-decoration: none;
    padding: 0;
    text-align: center;
    display: flex;
    margin-left: 35px;
}

p.categorias-compras {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #333333;
}

h1.mais-vistos {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin: 40px 0 35px 40px;
}

ul.mais-vistos {
    display: flex;
    list-style: none;
    margin-left: 20px;
}
.frete-gratis {
    color: #10ba78;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
    text-transform: uppercase;
}

.valores {
    color: #333;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
.valores-parcelados {
    font-size: 16px;
    color: #333;
    text-align: left;
    height: auto;
    min-height: 21px;
    padding: 5px 0 0;
    font-weight: 400;
}

.no-Pix {
    font-size: 16px;
}

span.produtos {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #333333;
}
