.topo {
    border-top: rgb(92, 42, 138);
    background-color: rgb(92, 42, 138);
}

.logo {
    text-align: left;
    margin-left: 15%;
}

.meio {
    text-align: center;
    margin-top: 90px;
}


h2 {
    font-family: sans-serif;
    color: rgb(92, 42, 138);
    margin-right: 160px;
} 

input {
    height:20px;
    width: 300px;
    margin: 0 0 5px 0;
    border-radius: 5px;
    background-color: rgb(228, 244, 252);
    border: none;
    padding: 15px 0 10px 0;
}

.input1 {
    height: 25px;
    width: 300px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    background-color: rgb(228, 244, 252);
    border: none;
    padding: 10px 0 10px 0;
}

img {
    width: 200px;
    height: 60px;
    top: auto;
}

button {
    height: 40px;
    width: 310px;
    font-weight: bold;
    background-color: rgb(252, 172, 67);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

a{
    margin-right: 165px;
}

hr {
    margin-top: 125px;
    width: 70%;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-family: sans-serif;
    color: rgb(92, 42, 138);
    margin-left: 35%;
}

.rodape {
    display: flex;
}

.p1 {
    margin-left: 50px;
    
}

.duvidas {
    background-color: rgb(92, 42, 138);
    width: 150px;
    height: 30px;
    margin-left:50px ;
    font-weight: bold;
}

.final {
    display: inline;
    margin-left: 35%;
}
